.App {
  text-align: left;
  margin: 0 auto;
}
:root{
  --colorText: black;
  --colorTextSecondary: white;
  --colorBtnPrimary: black;
  --colorBtnPrimaryHover:rgb(32, 32, 32);
  --colorBtnPrimaryDisabled: rgb(53, 53, 53);
  --colorBlue: #2bbff2;
  --contentWidth: 70%;
  --contentWidthMobile: 95%;
  --paddingFiltersMobile: 20px;
}
.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}
.App-header {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* margin: 0 auto; */
}
.header{
  display: flex;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}
.container{
  width: var(--contentWidth);
  margin: 0 auto;
}
.main{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.titulo{
  order: 1;
  flex-basis: 50%;
}
.ordenar{
  order: 2;
  width: 40%;
  border: 1px solid rgb(243, 243, 6);
}
.filtros{
  order: 3;
  flex-basis: 30%;
  width: 40%;
  border: 1px solid aquamarine;
}
.catalogo{
  order:4;
  flex-basis: 60%;
  /* width: 60%; */
  border: 1px solid orange;
}
.body{
  display: flex;
}
/* .filtros{
  flex-basis: 20%;
} */
.filtro-responsive{
  display: none;
}
.filtros-div{
  display: block;
}

@media (max-width: 780px){ 
  .filtro-responsive{
    display: block;
  }
  /* .filtros-div{
    display: none;
  } */
  .container{
    width: var(--contentWidthMobile);
  }
  .main{
    /* display: flex;
    flex-direction:row;
    flex-wrap: wrap; */
    justify-content: center;
  }
  .titulo{
    order: 1;
    flex-basis: 100%;
    text-align: center;
  }
  .ordenar{
    order: 3;
    width: 40%;
    border: 1px solid rgb(243, 243, 6);
  }
  .filtros{
    order: 2;
    flex-basis: 30%;
    width: 40%;
    border: 1px solid aquamarine;
  }
  .catalogo{
    order:4;
    flex-basis: 100%;
    /* width: 60%; */
    border: 1px solid orange;
  }
  /* .contener-fil{
    position: absolute;
    width: 100%;
    top: 0;
  } */
}