.ordenar{
    #orden{
        width: 130px;
        height: 35px; 
        border: 1px solid grey;  
        font-size: 15px;

    }
    #orden:focus,#ordem:hover {
        outline: none;
        border: 1px solid;

    }

    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 130px;
    padding:  0px 10vw;
    font-size: 30px;
}