$main-color: #2BBFF2;
$opacity-color: #d5d5d5;
$grey-color: rgb(73, 72, 72);
$md-margin: 50px;
$bg-font: 30px;
$md-font: 25px;
$small-size: 20px;
$smaller-size: 18px;
$sm-margin: 10px;
$light-weight: 300;