@media (max-width: 375px) {
  main {
    .products {
      grid-template-columns: 1fr;
    }
  }
  .filter-menu {
    .buttons {
      display: flex;
      flex-direction: column;
      .button {
        width: 100%;
        height: 6rem;
      }
    }
  }
}
