$black: #000000;
$White: #fff;
$title-color: #333;
$options-color: #666666;
$Primary-blue: #00c0ee;
$Font-size-title: 4.8rem;
$Font-size-options: 2.4rem;
$Font-size-product-text: 1.9rem;
$Font: "Open Sans", sans-serif;

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/open-sans-v27-latin-regular.woff) format("woff"),
    url(../assets/fonts/open-sans-v27-latin-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
