@import "./vars";

@font-face {
  font-family: "Open sans";
  src: url(../assets/fonts/open-sans-v27-latin-regular.woff) format("woff"),
    url(../assets/fonts/open-sans-v27-latin-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
