.filtro-valor{
  text-align: left;
}
.filtro-valor label{
  display: block;
  text-align: left;
}
.list input[type="checkbox"]{
  appearance: none;
  display: none;
}
.list label{
  cursor: pointer;
}
.list .label-text{
  position: relative;
  padding-left: 1.3rem;
}
.list label input[type='checkbox'] + .label-text:before{
  content: '';
  position: absolute;
  top: 5px;
  left: -0.1rem;
  height: 0.8rem;
  width: 0.8rem;
  border: 1px solid #d5d5d5;

}
.list label input[type='checkbox']:checked + .label-text:before{
  content: '';
  background-color: var(--colorBlue);
}

/*estilos .square*/

.square input[type="checkbox"]{
  appearance: none;
  display: none;
}
.square div{
  display: grid;
  grid-template-columns: repeat(4,2rem);
  gap: 1rem;
}
.square label{
  display: grid;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #d5d5d5; */
  width: 32px;
  height: 32px;
}
.square .label-text{
  position: relative;
  width: 20px;
  /* padding-left: 1.3rem; */
}
.square label input[type='checkbox'] + .label-text:before{
  content: '';
  position: absolute;
  top: -9px;
  left: -14px;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #d5d5d5;

}
.square label input[type='checkbox']:checked + .label-text:before{
  content: '';
  border:1px solid var(--colorBlue);

}
@media (max-width: 780px){ 
  .filtro-valor{
    padding-left: var(--paddingFiltersMobile);
  }
}