.boton-comprar{
  background-color: var(--colorBtnPrimary);
  color: var(--colorTextSecondary);
  border: none;
  cursor: pointer;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  /* height: 10px; */
}
.boton-comprar:hover{
  background-color: var(--colorBtnPrimaryHover);
  transform: scale(1.01,1.01);
}
.btn-disabled{
  background-color: var(--colorBtnPrimaryDisabled);
  cursor: no-drop;
}