.tarjetas{

  display: grid;
  /* grid-template-columns: repeat(3,1fr); */
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: repeat(auto-fit,minmax(195px,195px));
  gap: 3.6rem;
  justify-content: space-between;
  
  

}
@media (max-width: 960px){ 
  .tarjetas{
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(120px,180px));
  }
}
@media (max-width: 780px){ 
  .tarjetas{
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(120px,155px));
  }
}
